@(review: Review)

<table aria-describedby="reviews">
    <tr>
        <td id="id">Review ID: @review.id</td>
    </tr>
    <tr>
        <td id="product_id">Product id: @review.product_id</td>
    </tr>
    <tr>
        <td id="description">Description: @review.description</td>
    </tr>
</table>