@(carts: Seq[Cart])

<table aria-describedby="carts">
    <tr>
        <th id="user_id">User ID</th>
        <th id="product_id">Product ID</th>
        <th id="quantity">Quantity</th>
    </tr>
    @for(cart <- carts) {
        <tr>
            <td>@cart.user_id</td>
            <td>@cart.product_id</td>
            <td>@cart.quantity</td>
        </tr>
    }
</table>
