@(invoices: Seq[Invoice])

<table aria-describedby="invoices">
    <tr>
        <th id="order_id">Order id</th>
        <th id="payment_due">Payment due</th>
    </tr>
    @for(invoice <- invoices) {
        <tr>
            <td>@invoice.order_id</td>
            <td>@invoice.payment_due</td>
        </tr>
    }
</table>
