@(invoice: Form[UpdateInvoiceForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.InvoiceController.updateHandle) {

    @helper.CSRF.formField
    <input name="id" id="id" value="@invoice("id").value" type="hidden" />
    @inputText(invoice("order_id"))
    @inputText(invoice("payment_due"))

    <div class="buttons">
        <input type="submit" value="Update invoice"/>
    </div>

}