@(wishlist: Form[UpdateWishlistForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.WishlistController.updateHandle) {

    @helper.CSRF.formField
    <input name="id" id="id" value="@wishlist("id").value" type="hidden" />
    @inputText(wishlist("user_id"))
    @inputText(wishlist("product_id"))

    <div class="buttons">
        <input type="submit" value="Update wishlist"/>
    </div>

}