@(stock: Form[UpdateStockForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.StockController.updateHandle) {

    @helper.CSRF.formField
    <input name="id" id="id" value="@stock("id").value" type="hidden" />
    @inputText(stock("product_id"))
    @inputText(stock("quantity"))

    <div class="buttons">
        <input type="submit" value="Update stock"/>
    </div>

}